{% from "./csrf.html" import csrf %}
<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link href="/css/output.css" rel="stylesheet" />
  {% block styles %}{% endblock %}
</head>
<body>
  <header>
    <nav>
      <ul class="flex">
        <li class="hidden p-4">
          &equiv;
        </li>
        <li class="p-4">
          <a href="/">Schedule</a>
        </li>
        <li class="p-4">
          <a href="/team-members/">Team members</a>
        </li>
        <li class="p-4">
          <a href="/contexts/">Shift Contexts</a>
        </li>
        <li class="p-4">
          <a href="/colors/">Colors</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    &copy;
  </footer>
</body>
</html>
