{% extends "../_shared/_layout.html" %}
{% from "../_shared/formErrors.html" import formErrors %}
{% from "../_shared/formatDate.html" import formatDate %}

{% set title = "Edit Shift Context Note" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <h1 class="text-4xl mt-8 font-bold">
    {{ title }}
  </h1>
  {{ formErrors(model.errors) }}
  <form method="post" class="max-w-lg">
    <div class="flex mt-4">
      <div class="flex-1">Date</div>
      <div class="flex-1">{{ formatDate(model.shiftContextNote.date) }}</div>
    </div>
    <div class="mt-4 flex">
      <label for="colorId" class="flex-1">Color</label>
      <div class="flex-1">
        <div>
          <input type="radio" name="colorId" value="" id="colorId_0" {{ "checked" if not model.shiftContextNote.colorId }} />
          <label for="colorId_0">(none)</label>
        </div>
        {% for color in model.colors %}
          <div class="align-middle">
            <input type="radio" name="colorId" value="{{ color.id }}" id="colorId_{{ color.id }}" {{ "checked" if model.shiftContextNote.colorId == color.id }} class="inline-block" />
            <label for="colorId_{{ color.id }}">
              <span class="inline-block size-4 rounded align-middle" style="background-color: #{{ color.hex }};"></span>
              {{ color.name }}
            </label>
          </div>
        {% endfor %}
      </div>
      {#
      <select id="colorId" name="colorId">
        <option {{ "selected" if not model.shiftContextNote.colorId }} >(none)</option>
        {% for color in model.colors %}
          <option value="{{ color.id }}"
            {{ "selected" if model.shiftContextNote.colorId == color.id }} >{{ color.name }}</option>
        {% endfor %}
      </select>
      #}
    </div>
    <div class="mt-4">
      <label for="note" class="block">Note</label>
      <textarea id="note" name="note" rows="4" class="border rounded p-1 w-full mt-4">{{ model.shiftContextNote.note }}</textarea>
    </div>
    <div class="mt-4 flex justify-center gap-4">
      {{ csrf(model) }}
      <button type="submit" class="p-4 rounded bg-blue-300">Save</button>
      <a href="/contexts/" class="p-4 rounded bg-gray-200">Cancel</a>
    </div>
  </form>
{% endblock %}
