{% extends "../_shared/_layout.html" %}
{% from "../_shared/teamMemberTabs.html" import teamMemberTabs %}
{% from "../_shared/formatDate.html" import formatDatePath %}

{% set monthNames = [
  "January",
  "February",
  "March",
  "April",
  "May",
  "June",
  "July",
  "August",
  "September",
  "October",
  "November",
  "December"
] %}

{% set dayNames = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"] %}

{% set title = model.teamMember.fullName + " | Unavailability" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  {{ teamMemberTabs(model.teamMember, "unavailability") }}
  <div class="p-8 flex">
    <a href="/team-member/{{ model.teamMember.id }}/unavailability/{{ model.previousWeekString }}/" class="p-2">
      &lt;
    </a>
    <h1 class="p-2">
      <a href="/team-member/{{ model.teamMember.id }}/unavailability/{{ model.startDate.getFullYear() }}/">
        Week of {{ monthNames[model.startDate.getMonth()] }} {{ model.startDate.getDate() }}, {{ model.startDate.getFullYear() }}
      </a>
    </h1>
    <a href="/team-member/{{ model.teamMember.id }}/unavailability/{{ model.nextWeekString }}/" class="p-2">
      &gt;
    </a>
  </div>
  <div>
    <a href="/team-member/{{ model.teamMember.id }}/unavailability/{{ formatDatePath(model.startDate) }}/clear/">
      Clear
    </a>
  </div>
  {% for row in model.table %}
    <h2>
      {{ dayNames[row.date.getDay()] }}
    </h2>
    {% for unavailability in row.unavailabilities %}
      <div>
        <span>
          {{ unavailability.startDateTime }}
        </span>
        <span>
          {{ unavailability.endDateTime }}
        </span>
        <span>
          {{ "🙂" if unavailability.isPreference else "☹️" }}
        </span>
        <span>
          <a href="/team-member/{{ unavailability.teamMemberId }}/unavailability/{{ unavailability.id }}/edit/">
            Edit
          </a>
          <a href="/team-member/{{ unavailability.teamMemberId }}/unavailability/{{ unavailability.id }}/delete/">
            Delete
          </a>
        </span>
      </div>
    {% else %}
      <p>(none)</p>
    {% endfor %}
  {% endfor %}
{% endblock %}
