{% extends "../shared/_layout.html" %}

{% if model.isEdit %}
  {% set verb = "Edit" %}
  {% set action = "/team-member/" + model.teamMember.id + "/edit/" %}
  {% set cancel = "/team-member/" + model.teamMember.id + "/" %}
{% else %}
  {% set verb = "Add" %}
  {% set action = "/team-member/add/" %}
  {% set cancel = "/team-members/" %}
{% endif %}

{% set title = verb + " Team Member" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <h1>{{ title }}</h1>
  <form action="{{ action }}" method="post">
    <div>
      <label for="firstName">First</label>
      <input type="text" id="firstName" name="firstName" value="{{ model.teamMember.firstName }}" />
    </div>
    <div>
      <label for="middleName">Middle</label>
      <input type="text" id="middleName" name="middleName" value="{{ model.teamMember.middleName }}" />
    </div>
    <div>
      <label for="lastName">Last</label>
      <input type="text" id="lastName" name="lastName" value="{{ model.teamMember.lastName }}" />
    </div>
    <div>
      <label for="birthDate">Birth date</label>
      <input type="text" id="birthDate" name="birthDate" value="{{ model.teamMember.birthDateString }}" />
    </div>
    <div>
      <label for="email">Email</label>
      <input type="text" id="email" name="email" value="{{ model.teamMember.email }}" />
    </div>
    <div>
      <label for="phone">Phone</label>
      <input type="text" id="phone" name="phone" value="{{ model.teamMember.phone }}" />
    </div>
    <div>
      <label for="isExternal">External</label>
      <input type="checkbox" id="isExternal" name="isExternal" {{ "checked" if model.teamMember.isExternal }} />
    </div>
    <div>
      <label for="maxWeeklyHours">Max weekly hours</label>
      <input type="text" id="maxWeeklyHours" name="maxWeeklyHours" value="{{ model.teamMember.maxWeeklyHours }}" />
    </div>
    <div>
      <label for="maxWeeklyDays">Max weekly days</label>
      <input type="text" id="maxWeeklyDays" name="maxWeeklyDays" value="{{ model.teamMember.maxWeeklyDays }}" />
    </div>
    <div>
      {{ csrf(model) }}
      <button type="submit">Save</button>
      <a href="{{ cancel }}">Cancel</a>
    </div>
  </form>
{% endblock %}
