{% extends "../_shared/_layout.html" %}
{% from "../_shared/field.html" import field %}
{% from "../_shared/formErrors.html" import formErrors %}

{% if model.isEdit %}
  {% set verb = "Edit" %}
  {% set action = "/team-member/" + model.teamMember.id + "/edit/" %}
  {% set cancel = "/team-member/" + model.teamMember.id + "/" %}
{% else %}
  {% set verb = "Add" %}
  {% set action = "/team-members/add/" %}
  {% set cancel = "/team-members/" %}
{% endif %}

{% set title = verb + " Team Member" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <h1 class="text-4xl font-bold mt-8">{{ title }}</h1>
  {{ formErrors(model.errors) }}
  <form action="{{ action }}" method="post" class="max-w-lg mt-8">
    {{ field("firstName", model.teamMember.firstName, "text", "First name") }}
    {{ field("middleName", model.teamMember.middleName, "text", "Middle name") }}
    {{ field("lastName", model.teamMember.lastName, "text", "Last name") }}
    {{ field("birthDate", model.teamMember.birthDateString, "date", "Birth date") }}
    {{ field("email", model.teamMember.email, "email", "Email address") }}
    {{ field("phone", model.teamMember.phone, "text", "Phone number") }}
    {{ field("isExternal", "", "checkbox", "External", model.teamMember.isExternal) }}
    {{ field("maxWeeklyHours", model.teamMember.maxWeeklyHours, "number", "Max weekly hours") }}
    {{ field("maxWeeklyDays", model.teamMember.maxWeeklyDays, "number", "Max weekly days") }}
    <div class="mt-8 flex justify-center gap-4">
      {{ csrf(model) }}
      <button type="submit" class="block p-2 bg-green-300 rounded">Save</button>
      <a href="{{ cancel }}" class="block p-2 bg-gray-300 rounded">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}
