{% extends "../_shared/_layout.html" %}
{% from "../_shared/teamMemberTabs.html" import teamMemberTabs %}

{% macro profileItem(label, content) %}
  <div class="mt-4 flex gap-4">
    <div class="flex-1 font-bold">{{ label }}</div>
    <div class="flex-1">{{ content }}</div>
  </div>
{% endmacro %}

{% if model.teamMember.isExternal %}
  {% set externalMessage = "yes" %}
{% else %}
  {% set externalMessage = "no" %}
{% endif %}

{% block title %}{{ model.teamMember.fullName }}{% endblock %}

{% block content %}
  <div class="bg-white drop-shadow-lg mt-6">
  {{ teamMemberTabs(model.teamMember, "profile") }}
  <div class="max-w-lg ms-4">
    {{ profileItem("First name", model.teamMember.firstName) }}
    {{ profileItem("Middle name", model.teamMember.middleName) }}
    {{ profileItem("Last name", model.teamMember.lastName) }}
    {{ profileItem("Birth date", model.teamMember.birthDate.toLocaleDateString()) }}
    {{ profileItem("Email address", model.teamMember.email) }}
    {{ profileItem("Phone number", model.teamMember.phone) }}
    {{ profileItem("External", externalMessage) }}
    {{ profileItem("Max weekly hours", model.teamMember.maxWeeklyHours) }}
    {{ profileItem("Max weekly days", model.teamMember.maxWeeklyDays) }}
    <div class="mt-8 flex justify-center gap-4">
      <a href="/team-member/{{ model.teamMember.id }}/edit/" class="block py-3 px-10 rounded bg-blue-400 text-white hover:bg-sky-800">
        Edit
      </a>
      <a href="/team-member/{{ model.teamMember.id }}/delete/" class="block py-3 px-10 rounded bg-red-500 text-white hover:bg-red-800">
        Delete
      </a>
    </div>
  </div>
</div>
{% endblock %}
