@charset "utf-8";

.navbar {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.navbar * {
  user-select: none;
}

.navbar-toggler {
  padding: 1rem;
}

.navbar-item {
  display: none;
}

.navbar-link {
  display: block;
  padding: 1rem;
  color: initial;
  text-decoration: none;
}

.navbar:hover .navbar-item {
  display: block;
}
