{% extends "../shared/_layout.html" %}

{% block content %}
  <h1>
    {% if model.isEdit %}Edit{% else %}Add{% endif %} Color
  </h1>

  {% if model.errors %}
    <ul>
      {% for error in model.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <form method="post" action="{% if model.isEdit %}/color/{{ model.color.id }}/{% else %}/colors/add/{% endif %}">
    <div>
      <label>Name</label>
      <input type="text" name="name" value="{{ model.color.name }}" />
    </div>
    <div>
      <label>Color</label>
      <input type="color" name="hex" value="{% if model.color.hex %}#{% endif %}{{ model.color.hex }}" />
    </div>
    <div>
      <input type="hidden" name="id" value="{{ model.color.id }}" />
      <button type="submit">Save</button>
      <a href="/colors/">Cancel</a>
    </div>
  </form>
{% endblock %}
