{% from "./csrf.html" import csrf %}
{% from "./formatDate.html" import formatDate %}
{% from "./formatTime.html" import formatTime %}
{% from "./inlineStyles.html" import inlineStyles %}

<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link href="/css/output.css" rel="stylesheet" />
  {% block styles %}{% endblock %}
  {% block scripts %}{% endblock %}
</head>
<body>
  <div class="flex flex-col min-h-screen">
    <header>
      <nav>
        <ul class="md:flex hover:*:not-first:block">
          <li class="md:hidden p-4 select-none">
            &equiv;
          </li>
          <li class="hidden md:block">
            <a class="block p-4" href="/">Schedule</a>
          </li>
          <li class="hidden md:block">
            <a class="block p-4" href="/team-members/">Team members</a>
          </li>
          <li class="hidden md:block">
            <a class="block p-4" href="/contexts/">Shift Contexts</a>
          </li>
          <li class="hidden md:block">
            <a class="block p-4" href="/colors/">Colors</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="flex-1 shrink-0 px-8 pb-8">
      {% block content %}{% endblock %}
    </main>
    <footer class="p-8 text-center">
      &copy; 2025
    </footer>
  </div>
</body>
</html>
