{% extends "./_layout.html" %}

{% block title %}Confirm Deletion{% endblock %}

{% block content %}
<div class="bg-white drop-shadow-lg px-2 pb-2 mt-3">
  <div class="m-auto w-max">


  <h1 class="mt-8 text-4xl font-bold">Confirm Deletion</h1>
  <form method="post" action="{{ model.action }}" class="max-w-lg">
    <p class="mt-8">
      Are you sure you want to delete "{{ model.description }}"?
    </p>
    {% if model.warnings.length > 0 %}
      <p class="mt-4">
        Warning:
        {{ model.warnings[0] if model.warnings.length == 1 }}
      </p>
      {% if model.warnings.length > 1 %}
        <ul class="mt-4 ms-8 list-disc">
          {% for warning in model.warnings %}
            <li>{{ warning }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endif %}
    <div class="mt-8 flex justify-center gap-4">
      {{ csrf(model) }}
      <button type="submit" class="block p-2 px-3 bg-red-800 hover:bg-red-500 text-white rounded">Yes</button>
      <a href="{{ model.cancel }}" class="block p-2 px-3 bg-gray-300 hover:bg-white hover:outline-gray-500 hover:outline-1 rounded">No</a>
    </div>
  </form>
</div>
</div>
{% endblock %}
