{% extends "../_shared/_layout.html" %}
{% from "../_shared/field.html" import field %}
{% from "../_shared/formErrors.html" import formErrors %}

{% if model.isEdit %}
  {% set title = "Edit Availability" %}
  {% set action = "" %}
{% else %}
  {% set title = "Add Availability" %}
  {% set action = ["/team-member/", model.teamMember.id, "/availability/add/"] | join %}
{% endif %}

{% set daysOfWeek = [
  { index: 0, name: "Sunday" },
  { index: 1, name: "Monday" },
  { index: 2, name: "Tuesday" },
  { index: 3, name: "Wednesday" },
  { index: 4, name: "Thursday" },
  { index: 5, name: "Friday" },
  { index: 6, name: "Saturday" }
] %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <h1 class="text-4xl mt-8 font-bold">{{ title }}</h1>
  <form method="post" action="{{ action }}" class="max-w-lg">
    {{ formErrors(model.errors) }}
    <div class="mt-8 flex gap-4">
      <label for="dayOfWeek" class="flex-1">Day of week</label>
      <select name="dayOfWeek" id="dayOfWeek" class="flex-1 p-1 border rounded">
        <option value="">Select a day of the week...</option>
        {% for dayOfWeek in daysOfWeek %}
          <option value="{{ dayOfWeek.index }}" {{ "selected" if model.typicalAvailability.dayOfWeek == dayOfWeek.index }} >
            {{ dayOfWeek.name }}
          </option>
        {% endfor %}
      </select>
    </div>
    {{ field("startTime", model.typicalAvailability.startTimeString, "time", "Start time") }}
    {{ field("endTime", model.typicalAvailability.endTimeString, "time", "End time") }}
    {{ field("isPreference", "", "checkbox", "Preferable", model.typicalAvailability.isPreference) }}
    <div class="mt-8 flex justify-center gap-4">
      {{ csrf(model) }}
      <input type="submit" value="Save" class="block p-2 bg-blue-300 rounded" />
      <a href="/team-member/{{ model.teamMember.id }}/availability/" class="block p-2 bg-gray-300 rounded">Cancel</a>
    </div>
  </form>
{% endblock %}
