{% extends "../_shared/_layout.html" %}
{% from "../_shared/teamMemberTabs.html" import teamMemberTabs %}

{% set dayNames = [
  "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"
] %}

{% set title = model.teamMember.fullName + " | Availability" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  {{ teamMemberTabs(model.teamMember, "availability") }}
  <div>
    <a href="/team-member/{{ model.teamMember.id }}/availability/add/">
      &plus; Add typical availability
    </a>
  </div>
  {% set currentDayOfWeek = -1 %}
  {% for typicalAvailability in model.typicalAvailabilities %}
    {% if typicalAvailability.dayOfWeek > currentDayOfWeek %}
      <h2>{{ dayNames[typicalAvailability.dayOfWeek] }}</h2>
      {% set currentDayOfWeek = typicalAvailability.dayOfWeek %}
    {% endif %}
    <div>
      <span>
        {{ typicalAvailability.startTime }} - {{ typicalAvailability.endTime }}
      </span>
      <span>
        {{ "🙂" if typicalAvailability.isPreference else "☹️" }}
      </span>
      <span>
        <a href="/team-member/{{ model.teamMember.id }}/availability/{{ typicalAvailability.id }}/">
          Edit
        </a>
        <a href="/team-member/{{ model.teamMember.id }}/availability/{{ typicalAvailability.id }}/delete/">
          Delete
        </a>
      </span>
    </div>
  {% endfor %}
  {% for i in range(currentDayOfWeek, 7) %}
    <h2>{{ dayNames[i] }}</h2>
  {% endfor %}
{% endblock %}
