{% extends "../_shared/_layout.html" %}
{% from "../_shared/field.html" import field %}
{% from "../_shared/formErrors.html" import formErrors %}

{% set title = "Export Schedule" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="bg-white drop-shadow-lg px-2 pb-2 mt-3">
<div class="m-auto w-max">
  <h1 class="text-4xl mt-8 font-bold">{{ title }}</h1>
  <form method="post" class="">
    {{ formErrors(model.errors) }}
    {{ field("title", model.title, "text", "Title") }}
    {{ field("startDate", model.startDate.toDateString(), "date", "Start date") }}
    {{ field("endDate", model.endDate.toDateString(), "date", "End date") }}
    <div class="mt-4 flex gap-4">
      <label for="format" id="format" class="flex-1">Format</label>
      <select name="format" class="flex-1 p-1 border rounded">
        <option value="excel" {{ "selected" if model.format == "excel" }} >Excel</option>
        <option value="csv" {{ "selected" if model.format == "csv" }} >CSV</option>
      </select>
    </div>
    <div class="mt-8 flex justify-center gap-4">
      {{ csrf(model) }}
      <button type="submit" class="block py-3 px-10 rounded bg-blue-400 text-white hover:bg-sky-800">Export</button>
      <a href="{{ model.cancelLink }}" class="block py-3 rounded px-10 bg-red-500 text-white hover:bg-red-800">Cancel</a>
    </div>
  </form>
</div>
</div>
{% endblock %}
