{% extends "../_shared/_layout.html" %}

{% block title %}{{ model.title }}{% endblock %}

{% block content %}

  {# Navigation Header #}
  <div class="w-full sm:w-xl mx-auto flex justify-between gap-8 px-4 py-8">
    <a href="/schedule/{{ model.previousWeekString }}/" class="self-center select-none">
      &lt;
    </a>
    <h1 class="text-center font-bold text-3xl select-none">
      <a href="/schedule/{{ model.currentWeek.getFullYear() }}/">
        {{ model.title }}
      </a>
    </h1>
    <a href="/schedule/{{ model.nextWeekString }}/" class="self-center select-none">
      &gt;
    </a>
  </div>

  <div class="w-full text-center pb-8">
    <a class="inline-block p-2 border rounded" href="{{ model.copyLink }}">Copy</a>
    <a class="inline-block p-2 border rounded" href="{{ model.clearLink }}">Clear</a>
    <a class="inline-block p-2 border rounded" href="{{ model.exportLink }}">Export</a>
  </div>

  <table>
    {% for row in model.schedule.table %}
      <tr>
        {% for col in row %}
          <td class="min-w-xs border">
            {% set type = col.type %}
            {% set data = col.content %}

            {% if type == "header" %}
              <h2 class="text-2xl font-bold">{{ data }}</h2>
            {% endif %}

            {% if type == "dateHeader" %}
              <h2 class="text-2xl font-bold">
                {{ formatDatePath(data) }}
              </h2>
              <p>
                <a href="/schedule/copy/{{ formatDatePath(data) }}/to/{{ formatDatePath(data) }}/">
                  Copy
                </a>
                <a href="/schedule/clear/{{ formatDatePath(data) }}/to/{{ formatDatePath(data) }}/">
                  Clear
                </a>
              </p>
            {% endif %}

            {% if type == "ShiftContext" %}
              <h2 class="text-2xl font-bold">{{ data.name }}</h2>
            {% endif %}

            {% if type == "ShiftContextNote" %}
              {% if data.color.hex %}
              <p style="background-color: {{ ['#', data.color.hex] | join }}">
                {{ data.note }}
              </p>
              {% else %}
              <p>
                {{ data.note }}
              </p>
              {% endif %}
              <p>
                <a href="/shift-context/{{ data.shiftContextId }}/note/{{ formatDatePath(data.date) }}/">Edit</a>
              </p>
            {% endif %}

            {% if type == "TimeSlotGroup" %}
              <p>{{ data.startTime }} to {{ data.endTime }}</p>
              <p>{{ "18+" if data.requiresAdult }}</p>
            {% endif %}

            {% if type == "TimeSlot" %}
              <p>{{ data.startDateTime }}</p>
              <p>{{ data.endDateTime }}</p>
              <p>{{ "18+" if data.requiresAdult }}</p>
              <p>{{ data.id }}</p>
              <div>
                <a href="/schedule/time-slot/{{ data.id }}/">Edit</a>
                <a href="/schedule/time-slot/{{ data.id }}/delete/">Delete</a>
              </div>
            {% endif %}

            {% if type == "SubstituteList" %}
              {% if data.teamMembers %}
                <ul class="list-disc">
                  {% for teamMember in data.teamMembers %}
                    <li>{{ teamMember }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
              <a href="/substitutes/{{ formatDatePath(data.date) }}/">Edit</a>
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
{% endblock %}

{% block temp %}
  <div class="flex flex-col min-h-100 overflow-x-auto">
    {# Column headers #}
    <ul class="flex w-full">
      <li class="flex-1 min-w-xs"></li>
      {% for date in model.dates %}
        <li class="flex-1 min-w-xs text-center text-xl font-bold">
          {{ date }}
        </li>
      {% endfor %}
    </ul>

    {# Column header buttons #}
    <ul class="flex w-full pt-4">
      <li class="flex-1 min-w-xs">
        <a class="block w-fit p-2 pr-4 ml-4 bg-blue-400 text-white rounded" href="/schedule/time-slot/add/">
          &plus; Add time slot
        </a>
      </li>
      {% for date in model.dates %}
        <li class="flex-1 min-w-xs flex gap-2 justify-center">
          {% set formatted = [
              date.getFullYear(),
              "/",
              (date.getMonth() + 1).toString().padStart(2, "0"),
              "/",
              date.getDate().toString().padStart(2, "0")
            ] | join %}
          {% set copyUrl = ["/schedule/copy/", formatted, "/to/", formatted, "/"] | join %}
          {% set clearUrl = ["/schedule/clear/", formatted, "/to/", formatted, "/"] | join %}
          <a href="{{ copyUrl }}" class="block p-2 border rounded">
            Copy
          </a>
          <a href="{{ clearUrl }}" class="block p-2 border rounded">
            Clear
          </a>
        </li>
      {% endfor %}
    </ul>

    {% for shiftContextData in model.schedule.shiftContextData %}
      <div class="flex w-full">
        <h2 class="flex-1 min-w-xs p-4 text-2xl font-bold">
          {{ shiftContextData.shiftContext.name }}
        </h2>
        {% for dailyEntry in shiftContextData.dailyEntries %}
          <div class="flex-1 min-w-xs pt-2">

            {# Shift context note card #}

            <div class="p-2 my-4 mx-2 border rounded flex gap-2">
              {% set hex = dailEntry.shiftContextNote.colorHex %}
              {% set shiftContextId = dailyEntry.shiftContextNote.shiftContextId %}
              {% set date = dailyEntry.shiftContextNote.date %}
              {{ dailyEntry.shiftContextNote.date }}
              {% set formatted = [
                date.getFullYear(),
                "/",
                (date.getMonth() + 1).toString().padStart(2, "0"),
                "/",
                date.getDate().toString().padStart(2, "0")
              ] | join %}
              <div class="flex-1" {{ (["style", "=", '"background-color: #', hex, ';"'] | join | safe) if hex }}>
                {{ dailyEntry.shiftContextNote.note }}
              </div>
              <a href="/shift-context/{{ shiftContextId }}/note/{{ formatted }}/" class="w-fit px-2 py-1 mx-auto border rounded">
                Edit
              </a>
            </div>

            {# Time slot card #}

            {% for timeSlot in dailyEntry.timeSlots %}
              <div class="p-2 my-4 mx-2 border rounded">
                <div>
                  {{ timeSlot.startTimeString }} to {{ timeSlot.endTimeString }}
                </div>
                <div>
                  <input type="checkbox" id="{{ timeSlot.id }}_requiresAdult" {{ "checked" if timeSlot.requiresAdult }} disabled />
                  <label for="{{ timeSlot.id }}_requiresAdult">Requires adult</label>
                </div>
                <div>
                  {{ timeSlot.teamMember.fullName if timeSlot.teamMember.fullName else "(No assignee)" }}
                </div>
                <div {{ ["style", "=", '"background-color: #', timeSlot.color.hex, ';"'] | join | safe }}>
                  {{ timeSlot.note }}
                </div>
                <div class="pt-2 text-center">
                  <a href="/schedule/time-slot/{{ timeSlot.id }}/" class="inline-block px-2 py-1 border rounded">
                    Edit
                  </a>
                  <a href="/schedule/time-slot/{{ timeSlot.id }}/delete/" class="inline-block px-2 py-1 border rounded">
                    Delete
                  </a>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endfor %}

      </div>
    {% endfor %}

    <div class="flex w-full">
      <h2 class="flex-1 min-w-xs p-4 text-2xl font-bold">
        Substitutes
      </h2>

      {% for substitutes in model.schedule.substitutes %}

        {# Substitutes card #}
      
        <div class="flex-1 min-w-xs">
          <div class="p-2 my-4 mx-2 border rounded">
            <ul>
              {% for substitute in substitutes %}
                <li>
                  {{ substitute.teamMember.fullName }}
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>

      {% endfor %}
    </div>
{% endblock %}
