{% extends "../_shared/_layout.html" %}

{% macro teamMemberLink(teamMember) %}
  <a href="/team-member/{{ teamMember.id }}/" class="underline">
    {{- teamMember.fullName -}}
  </a>
{% endmacro %}

{% macro timeSlotLink(timeSlot) %}
  <a href="#time_slot_{{ timeSlot.id }}" class="underline">
    {{- timeSlot.startDateTime.toLocaleString() -}}
  </a>
{% endmacro %}

{% block title %}{{ model.title }}{% endblock %}

{% block content %}
  {# Navigation Header #}
  <div class="w-full sm:w-xl mx-auto flex justify-between gap-8 px-4 py-8">
    <a href="/schedule/{{ model.previousWeekString }}/" class="self-center select-none text-2x1 font-bold hover:underline">
      &lt;
    </a>
    <h1 class="text-center font-bold text-3xl select-none">
      <a href="/schedule/{{ model.currentWeek.getFullYear() }}/">
        {{ model.title }}
      </a>
    </h1>
    <a href="/schedule/{{ model.nextWeekString }}/" class="self-center select-none hover:underline text-2xl font-bold">
      &gt;
    </a>
  </div>

  <div class="w-full flex justify-center gap-4">
    <a class="block p-2 border rounded bg-sky-500 text-white hover:bg-sky-800" href="{{ model.copyLink }}">Copy</a>
    <a class="block p-2 border rounded bg-sky-500 text-white hover:bg-sky-800" href="{{ model.clearLink }}">Clear</a>
    <a class="block p-2 border rounded bg-sky-500 text-white hover:bg-sky-800" href="{{ model.exportLink }}">Export</a>
  </div>

  <div class="mt-8 overflow-auto">
    <table class="mx-auto  bg-white drop-shadow-xl">
      {% for row in model.schedule.table %}
        <tr>
          {% for col in row %}
            {% set type = col.type %}
            {% set data = col.content %}
            <td class=" w-[10rem] border has-target:border-4">
              {% if type == "origin" %}
                <a href="/schedule/time-slot/add/week-of/{{ formatDate(model.currentWeek, '/') }}/" class="block pl-5 pr-7 py-9 text-center pe-1 w-max h-max border rounded bg-blue-400 text-white hover:bg-sky-800">
                  &plus; Add time slot
                </a>
              {% endif %}

              {% if type == "header" %}
                <h2 class="font-bold text-center">{{ data }}</h2>
              {% endif %}

              {% if type == "dateHeader" %}
                <h2 class="font-bold text-center">
                  <div class="text-center">{{ data.toLocaleString(undefined, { weekday: "long" }) }}</div>
                  <div class="text-center">{{ data.toLocaleDateString(undefined) }}</div>
                </h2>
                <div class="mt-4 flex justify-start gap-4">
                  <a href="/schedule/copy/{{ formatDate(data, '/') }}/through/{{ formatDate(data, '/') }}/" class="block px-3 py-1 m-auto border rounded bg-blue-400 text-white hover:bg-sky-800">
                    Copy
                  </a> 
                  <a href="/schedule/clear/{{ formatDate(data, '/') }}/through/{{ formatDate(data, '/') }}/" class="block px-3 py-1 m-auto  border rounded bg-red-500 text-white hover:bg-red-800">
                    Clear
                  </a>
                </div>
              {% endif %}

              {% if type == "ShiftContext" %}
                <h2 class="font-bold text-center">{{ data.name }}</h2>
              {% endif %}

              {% if type == "ShiftContextNote" %}
                {% if data.note %}
                  {% if data.color.hex %}
                    <p class="p-1 rounded mb-4" style="background-color: {{ '#' ~ data.color.hex }}; color: {{ '#' ~ data.color.hexForeground }};" >
                      {{ data.note }}
                    </p>
                  {% else %}
                    <p class="p-1 rounded mb-4">
                      {{ data.note }}
                    </p>
                  {% endif %}
                {% endif %}
                <p class="flex justify-center">
                  <a href="/shift-context/{{ data.shiftContextId }}/note/{{ formatDate(data.date, '/') }}/" class="block p-1 w-fit border rounded  bg-blue-400 text-white hover:bg-sky-800">
                    Edit
                  </a>
                </p>
              {% endif %}

              {% if type == "TimeSlotGroup" %}
                <p class="text-center">{{ data.startTime }} to {{ data.endTime }}</p>
                <p class="text-center">{{ "18+" if data.requiresAdult }}</p>
              {% endif %}

              {% if type == "TimeSlotPossibility" %}
                <p class="flex justify-center">
                  <a href="/schedule/time-slot/add/shift-context/{{ data.shiftContextId }}/on/{{ formatDate(data.startDateTime, '/') }}/from/{{ formatTime(data.startDateTime) }}/to/{{ formatTime(data.endDateTime) }}/{{ 'adult-only/' if data.requiresAdult }}" class="block p-1 w-fit border rounded  bg-blue-400 text-white hover:bg-sky-800">&plus; New</a>
                </p>
              {% endif %}

              {% if type == "TimeSlot" %}
                {% set timeSlotWarnings = model.warnings.getTimeSlotWarnings(data.id) %}

                <div class="relative">
                  <a id="time_slot_{{ data.id }}" class="absolute top-[-40vh]"></a>
                </div>

                <div class="flex">
                  <div class="flex-1 text-center">
                    {{ data.teamMember.fullName if data.teamMember else "(unassigned)" }}
                  </div>
                  {% if timeSlotWarnings.hasWarning() %}
                    <div class="relative hover:*:block">
                      ⚠️
                      <div class="p-1 z-1 absolute w-xs max-h-xs overflow-y-auto top-0 {% if (loop.index0 / row.length < 0.5) %}left-0{% else %}right-0{% endif %} hidden bg-amber-50 border">
                        <ul>
                          {% if timeSlotWarnings.isExternalAssignee %}
                            <li>This assignee is external.</li>
                          {% endif %}
                          {% for conflict in timeSlotWarnings.bilocation %}
                            <li>This assignee is also scheduled at {{ timeSlotLink(conflict) }}.</li>
                          {% endfor %}
                          {% if timeSlotWarnings.adultOnly %}
                            <li>This assignee is under-age.</li>
                          {% endif %}
                          {% if timeSlotWarnings.shiftContextPreferenceViolation %}
                            <li>This assignee does not prefer this shift context.</li>
                          {% endif %}
                          {% if timeSlotWarnings.availabilityViolation %}
                            <li>This assignee is unavailable at this time.</li>
                          {% endif %}
                          {% if timeSlotWarnings.unassigned %}
                            <li>This time slot is unassigned.</li>
                          {% endif %}
                        </ul>
                      </div>
                    </div>
                  {% endif %}
                </div>

                {% if data.color %}
                  <p class="mt-4 p-1 rounded" style="background-color: #{{ data.color.hex }}; color: #{{ data.color.hexForeground }};">
                    {{ data.note }}
                  </p>
                {% else %}
                  <p class="mt-4 p-1 rounded">
                    {{ data.note }}
                  </p>
                {% endif %}

                <div class="flex justify-center gap-4 mt-4">
                  <a href="/schedule/time-slot/{{ data.id }}/" class="block p-1 px-3 border rounded  bg-blue-400 text-white hover:bg-sky-800">Edit</a>
                  <a href="/schedule/time-slot/{{ data.id }}/delete/" class="block p-1 border rounded  bg-red-500 text-white hover:bg-red-800">Delete</a>
                </div>
              {% endif %}

              {% if type == "SubstituteList" %}
                {% if data.teamMembers.length > 0 %}
                  <ul class="list-disc ms-8 mb-4">
                    {% for teamMember in data.teamMembers %}
                      <li>{{ teamMember.fullName }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
                <p class="flex justify-center my-4">
                  <a href="/substitutes/{{ formatDate(data.date, '/') }}/" class="block p-1 w-fit border rounded  bg-blue-400 text-white hover:bg-sky-800">
                    Edit
                  </a>
                </p>
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </div>
<div class="bg-white p-2 drop-shadow-lg mt-6">
  {# Schedule warnings #}

  {% macro warningBadge(count) %}
    <span class="px-1 bg-red-500 text-white font-bold rounded">{{ count }}</span>
  {% endmacro %}

  {% macro warningSummary(header, count) %}
    <summary>
      {{ header }}
      {{ warningBadge(count) }}
    </summary>
  {% endmacro %}

  <div class="p-8 w-full">
    <h2 class="text-2xl font-bold">
      Warnings
      {{ warningBadge(model.warnings.length) if model.warnings.length > 0}}
    </h2>

    {% if model.warnings.length == 0 %}
      <p class="mt-4">
        (none)
      </p>
    {% endif %}

    {# Externality warnings #}

    {% if model.warnings.externality.length > 0 %}
      <details class="mt-4">
        {{ warningSummary('Externality', model.warnings.externality.length) }}
        <ul class="ps-8 list-disc">
          {% for timeSlot in model.warnings.externality %}
            <li>
              {{ teamMemberLink(timeSlot.teamMember) }}
              is external and is scheduled on
              <a href="#time_slot_{{ timeSlot.id }}" class="underline">{{
                timeSlot.startDateTime.toLocaleString()
              }}</a>.
            </li>
          {% endfor %}
        </ul>
      </details>
    {% endif %}

    {# Bilocation warnings #}

    {% if model.warnings.bilocation.length > 0 %}
      <details class="mt-4">
        {{ warningSummary('Bilocation', model.warnings.bilocation.length) }}
        <ul class="ps-8 list-disc">
          {% for timeSlot1, timeSlot2 in model.warnings.bilocation %}
            <li>
              {{ teamMemberLink(timeSlot1.teamMember) }}
              is scheduled at both
              {{ timeSlotLink(timeSlot1) }}
              and
              {{ timeSlotLink(timeSlot2) }}.
            </li>
          {% endfor %}
        </ul>
      </details>
    {% endif %}

    {% if model.warnings.adultOnly.length > 0 %}
    <details class="mt-4">
      {{ warningSummary('Adult Only Violations', model.warnings.adultOnly.length) }}
      <ul class="ps-8 list-disc">
        {% for timeSlot in model.warnings.adultOnly %}
          <li>
            {{ teamMemberLink(timeSlot.teamMember) }}
            is scheduled during
            <a href="/schedule/time-slot/{{ timeSlot.id }}/" class="underline">an 18+ time slot</a>.
          </li>
        {% endfor %}
      </ul>
    </details>
    {% endif %}

    {% if model.warnings.shiftContextPreferenceViolations.length > 0 %}
      <details class="mt-4">
        {{ warningSummary('Shift Context Preference Violations', model.warnings.shiftContextPreferenceViolations.length) }}
        <ul class="ps-8 list-disc">
          {% for timeSlot in model.warnings.shiftContextPreferenceViolations %}
            <li>
              {{ teamMemberLink(timeSlot.teamMember) }}
              is scheduled for
              <a href="/contexts/" class="underline">{{
                timeSlot.shiftContext.name
              }}</a>,
              and they have indicated this is
              <a href="/team-member/{{ timeSlot.teamMember.id }}/preferences/" class="underline">not preferable</a>.
            </li>
          {% endfor %}
        </ul>
      </details>
    {% endif %}

    {% if model.warnings.availabilityViolations.length > 0 %}
      <details class="mt-4">
        {{ warningSummary('Availability Violations', model.warnings.availabilityViolations.length) }}
        <ul class="ps-8 list-disc">
          {% for timeSlot in model.warnings.availabilityViolations %}
            <li>
              {{ teamMemberLink(timeSlot.teamMember) }}
              has been scheduled at
              {{ timeSlotLink(timeSlot) }},
              and they are unavailable
            </li>
          {% endfor %}
        </ul>
      </details>
    {% endif %}

    {% if model.warnings.maxWeeklyDaysViolations.length > 0 %}
      <details class="mt-4">
        {{ warningSummary('Max Weekly Days Violations', model.warnings.maxWeeklyDaysViolations.length) }}
        <ul class="ps-8 list-disc">
          {% for teamMember, workDays in model.warnings.maxWeeklyDaysViolations %}
            <li>
              {{ teamMemberLink(teamMember) }}
              has been scheduled on
              {{ workDays }}
              day(s), and their maximum is
              {{ teamMember.maxWeeklyDays }}.
            </li>
          {% endfor %}
        </ul>
      </details>
    {% endif %}

    {% if model.warnings.maxWeeklyHoursViolations.length > 0 %}
      <details class="mt-4">
        {{ warningSummary('Max Weekly Hours Violations', model.warnings.maxWeeklyHoursViolations.length) }}
        <ul class="ps-8 list-disc">
          <li>
            {{ teamMemberLink(teamMember) }}
            has been scheduled to work
            {{ numberOfHours | round(2) }}
            hour(s) this week, and their maximum is
            {{ teamMember.maxWeeklyHours }}
            hour(s).
          </li>
        </ul>
      </details>
    {% endif %}

    {% if model.warnings.unassignedTimeSlots.length > 0 %}
      <details class="mt-4">
        {{ warningSummary('Unassigned Time Slots', model.warnings.unassignedTimeSlots.length) }}
        <ul class="ps-8 list-disc">
          {% for timeSlot in model.warnings.unassignedTimeSlots %}
            <li>
              {{ timeSlot.shiftContext.name }}: {{ timeSlotLink(timeSlot) }}
            </li>
          {% endfor %}
        </ul>
      </details>
    {% endif %}
  </div>
</div>
{% endblock %}
