{% extends "../_shared/_layout.html" %}

{% block title %}Shift Contexts{% endblock %}

{% block scripts %}
  <script type="module">
    const csrf_token = "{{ model.csrf_token }}";

    async function updateShiftContexts(formData) {
      const method = "post";
      const shiftContextListSelector = "#shift-context-list";

      const options = {
        method,
        body: formData,
        redirect: "follow"
      };

      const response = await fetch(".", options);
      const text = await response.text();
      const dom = new DOMParser().parseFromString(text, "text/html");
      const innerHTML = dom.querySelector(shiftContextListSelector).innerHTML;
      document.querySelector(shiftContextListSelector).innerHTML = innerHTML;
    }

    document.body.addEventListener("submit", async (event) => {
      event.preventDefault();
      await updateShiftContexts(new FormData(event.target));
    });

    document.body.addEventListener("dragstart", (event) => {
      const shiftContextId = event.target.dataset.shiftContextId;
      const sortPriority = event.target.dataset.sortPriority;
      if (!shiftContextId) return;
      event.dataTransfer.setData("application/json", JSON.stringify({
        shiftContextId, sortPriority
      }));
      event.dataTransfer.effectAllowed = "move";
    });

    document.body.addEventListener("dragover", (event) => {
      if (!event.target.dataset.newSortPriority) return;
      event.preventDefault();
    })

    document.body.addEventListener("dragenter", (event) => {
      if (!event.target.dataset.newSortPriority) return;
      event.preventDefault();
      event.target.style.backgroundColor = "gray";
    });

    document.body.addEventListener("dragleave", (event) => {
      if (!event.target.dataset.newSortPriority) return;
      event.preventDefault();
      event.target.style.backgroundColor = "inherit";
    });

    document.body.addEventListener("drop", async (event) => {
      if (!event.target.dataset.newSortPriority) return;
      event.preventDefault();
      event.target.style.backgroundColor = "inherit";

      const json = JSON.parse(event.dataTransfer.getData("application/json"));
      const sortPriority = json.sortPriority;
      const newSortPriority = Number(event.target.dataset.newSortPriority)

      if (sortPriority == newSortPriority) return;

      const direction = newSortPriority - sortPriority;

      const formData = new FormData();
      formData.append("shiftContextId", json.shiftContextId);
      formData.append("direction", direction);
      formData.append("csrf_token", csrf_token);

      const selector = `[data-shift-context-id="${json.shiftContextId}"]`;
      const shiftContextElement = document.querySelector(selector);
      shiftContextElement.style.marginBottom = "1rem";
      event.target.insertAdjacentElement("afterend", document.querySelector(selector));

      await updateShiftContexts(formData);
    });
  </script>
{% endblock %}

{% block content %}
  <h1 class="text-4xl mt-8 font-bold">Shift Contexts</h1>

  <a href="/context/add/" class="block p-4 mt-8 rounded bg-blue-300 text-white w-fit">&plus; Add</a>

  <div class="max-w-2xl" id="shift-context-list">
    {% for shiftContext in model.shiftContexts %}
      {% if model.shiftContexts.length > 1 %}
        <div class="min-h-4 w-full" data-new-sort-priority="{{ loop.index }}"></div>
      {% endif %}
      <div class="border rounded p-4 flex gap-4" draggable="true" data-shift-context-id="{{ shiftContext.id }}" data-sort-priority="{{ shiftContext.sortPriority }}">
        {#
        <div class="block size-12 bg-gray-300 rounded text-4xl text-center">
          &#x283F;
        </div>
        #}
        <div class="flex-1">
          <div class="flex flex-col md:flex-row justify-between gap-4">
            <div class="text-3xl">{{ shiftContext.name }}</div>
            <div class="flex gap-4">
              <form method="post">
                {{ csrf(model) }}
                <input type="hidden" name="shiftContextId" value="{{ shiftContext.id }}" />
                <input type="hidden" name="direction" value="-1" />
                <input type="submit" value="&uparrow;" class="block size-12 {% if loop.first %}bg-gray-300{% else %}bg-blue-300{% endif %} rounded" {{ 'disabled' if loop.first }} />
              </form>
              <form method="post">
                {{ csrf(model) }}
                <input type="hidden" name="shiftContextId" value="{{ shiftContext.id }}" />
                <input type="hidden" name="direction" value="1" />
                <input type="submit" value="&downarrow;" class="block size-12 {% if loop.last %}bg-gray-300{% else %}bg-blue-300{% endif %} rounded" {{ 'disabled' if loop.last }} />
              </form>
              <a href="/context/{{ shiftContext.id }}/" class="block size-12 rounded bg-amber-200 text-center align-middle leading-10">✏️</a>
              <a href="/context/{{ shiftContext.id }}/delete/" class="block size-12 rounded bg-red-500 text-white text-center align-middle leading-10 text-3xl">&times;</a>
            </div>
          </div>
          {#
          <details>
            <summary>(More)</summary>
            <div class="flex mt-4">
              <div class="flex-1">
                <div><b>Age group</b></div>
                {% if shiftContext.ageGroup %}
                  <div>{{ shiftContext.ageGroup }}</div>
                {% else %}
                  <div>(none)</div>
                {% endif %}
              </div>
              <div class="flex-1">
                <div><b>Location</b></div>
                {% if shiftContext.location %}
                  <div>{{ shiftContext.location }}</div>
                {% else %}
                  <div>(none)</div>
                {% endif %}
              </div>
            </div>
            <div class="mt-4">
              <div><b>Description</b></div>
              {% if shiftContext.description %}
                <div>{{ shiftContext.description | striptags(true) | escape | nl2br }}</div>
              {% else %}
                <div>(none)</div>
              {% endif %}
            </div>
          </details>
          #}
        </div>
      </div>
    {% endfor %}
    {% if model.shiftContexts.length > 1 %}
      <div class="h-4 w-full" data-new-sort-priority="{{ model.shiftContexts.length }}"></div>
    {% endif %}
  </div>
{% endblock %}
