{% extends "../_shared/_layout.html" %}

{% block title %}Shift Contexts{% endblock %}

{% block scripts %}
  <script type="module">
    document.body.addEventListener("submit", async (event) => {
      event.preventDefault();
      const form = event.target;
      const options = {
        method: form.method,
        body: new FormData(form),
        headers: {"X-Refresh": ""},
      };

      try {
        const response = await fetch(form.action, options);
        const text = await response.text();
        document.querySelector("#shift-context-list").innerHTML = text;
      } catch (error) {
        console.log(error);
      }
    });
  </script>
{% endblock %}

{% block content %}
<div class="bg-white drop-shadow-lg px-2 pb-2 mt-3">
  <div class="m-auto w-max">
  <h1 class="text-4xl mt-8 font-bold">Shift Contexts</h1>
  <a href="/context/add/" class="block p-4 mt-8 rounded bg-sky-800 text-white hover:bg-sky-400 w-fit">&plus; Add</a>
  {% include "./listPartial.html" %}
</div>
</div>
{% endblock %}
