{% set symbols = {
  "positive": "✅",
  "negative": "❌",
  "neutral": "➖",
  "unknown": "❓"
} %}

<div>
  <label for="teamMemberId_0">Unassigned</label>
  <input type="radio" name="teamMemberId" value="" id="teamMemberId_0"
    {{ "checked" if model.timeSlot.teamMemberId == null }} />
</div>
<table>
  <thead>
    <tr>
      <td class="p-2"></td>
      <td class="p-2">Team Member</td>
      <td class="p-2">Adult</td>
      <td class="p-2">Typically available</td>
      <td class="p-2">Not marked unavailable</td>
      <td class="p-2">Prefer</td>
      <td class="p-2">No Conflicts</td>
    </tr>
  </thead>
  <tbody>
    {% for recommendation in model.recommendations %}
      <tr>
        <td class="p-2">
          <input type="radio" name="teamMemberId" value="{{ recommendation.teamMember.id }}"
            id="teamMemberId_{{ recommendation.teamMember.id }}"
            {{ "checked" if model.timeSlot.teamMemberId == recommendation.teamMember.id }} />
        </td>
        <td class="p-2">
          <label for="teamMemberId_{{ recommendation.teamMember.id }}">
            {{ recommendation.teamMember.fullName }}
          </label>
        </td>
        <td class="p-2">
          {{ symbols[recommendation.isAdult] }}
        </td>
        <td class="p-2">
          {{ symbols[recommendation.isTypicallyAvailable] }}
        </td>
        <td class="p-2">
          {{ symbols[recommendation.isNotUnavailable] }}
        </td>
        <td class="p-2">
          {{ symbols[recommendation.prefersShiftContext] }}
        </td>
        <td class="p-2">
          {{ symbols[recommendation.isConflicting] }}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
