{% extends "../_shared/_layout.html" %}
{% from "../_shared/formErrors.html" import formErrors %}
{% from "../_shared/field.html" import field %}

{% set title = 'Clear schedule' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="bg-white drop-shadow-lg px-2 pb-2 mt-3">
  <div class="m-auto w-max">
  <h1 class="text-4xl mt-8 font-bold">{{ title }}</h1>
  {{ formErrors(model.errors) }}
  <form method="post" class="mt-8 max-w-lg">
    {{ field("startDate", model.startDateString, "date", "Start date") }}
    {{ field("endDate", model.endDateString, "date", "End date") }}
    {{ field("deleteTimeSlots", "", "checkbox", "Delete time slots", model.deleteTimeSlots) }}
    {{ field("deleteShiftContextNotes", "", "checkbox", "Delete shift context notes", model.deleteShiftContextNotes) }}
    {{ field("deleteSubstitutes", "", "checkbox", "Delete substitutes", model.deleteSubstitutes) }}
    <div class="mt-8 flex justify-center gap-4">
      {{ csrf(model) }}
      <input type="submit" value="Clear" class="block p-2 bg-red-800 text-white hover:bg-red-500 rounded" />
      <a href="{{ model.cancelLink }}" class="block p-2 bg-sky-800 text-white hover:bg-sky-400 rounded">Cancel</a>
    </div>
  </form>
  </div>
</div>
{% endblock %}
