{% extends "../_shared/_layout.html" %}

{% set title = "Copy Preview" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="bg-white drop-shadow-lg px-2 pb-2 mt-3">
  <div class="m-auto w-max">
  <h1 class="mt-8 text-4xl font-bold">{{ title }}</h1>
  <div class="max-w-lg mt-8">
    <div>
      You have elected to copy time slots from
      {{ model.fromStartDate.toLocaleDateString() }} through
      {{ model.fromEndDate.toLocaleDateString() }}
      to
      {{ model.toStartDate.toLocaleDateString() }} through
      {{ model.toEndDate.toLocaleDateString() }}.
    </div>
    <div class="mt-8 p-2 bg-amber-600 text-white border rounded flex">
      <div>⚠️</div>
      <div>
        <p><b>WARNING:</b></p>
        <p>
          Data between
          {{ model.toStartDate.toLocaleDateString() }} and
          {{ model.toEndDate.toLocaleDateString() }}
          will be overwritten.
        </p>
      </div>
    </div>
    <form method="post" class="mt-8">
      {{ csrf(model) }}
      <input type="hidden" name="confirm" />
      <input type="hidden" name="fromStartDate" value="{{ model.fromStartDateString }}" />
      <input type="hidden" name="fromEndDate" value="{{ model.fromEndDateString }}" />
      <input type="hidden" name="toStartDate" value="{{ model.toStartDateString }}" />
      <input type="hidden" name="toEndDate" value="{{ model.toEndDateString }}" />
      {% if model.repeatCopy %}
        <input type="hidden" name="repeatCopy" value="" />
      {% endif %}
      {% if model.includeAssignees %}
        <input type="hidden" name="includeAssignees" value="" />
      {% endif %}
      {% if model.includeShiftContextNotes %}
        <input type="hidden" name="includeShiftContextNotes" />
      {% endif %}
      {% if model.includeTimeSlotNotes %}
        <input type="hidden" name="includeTimeSlotNotes" />
      {% endif %}
      <div class="flex justify-center gap-4">
        <input type="submit" value="Confirm" class="block p-2 rounded bg-sky-800 text-white hover:bg-sky-400" />
        <a href="/schedule/copy/from/{{ formatDate(model.fromStartDate, '/') }}/through/{{ formatDate(model.fromEndDate, '/') }}/to/{{ formatDate(model.toStartDate, '/') }}/through/{{ formatDate(model.toEndDate, '/') }}/{{ 'no-repeat/' if not model.repeatCopy }}{{ 'include-assignees/' if model.includeAssignees }}{{ 'include-shift-context-notes/' if model.includeShiftContextNotes }}{{ 'include-time-slot-notes/' if model.includeTimeSlotNotes }}" class="block p-2  bg-amber-200 hover:text-black hover:bg-white hover:border-1 hover:border-amber-600 rounded">
          Edit
        </a>
        <a href="/schedule/{{ formatDate(model.fromStartDate, '/') }}/" class="block p-2 bg-red-800 text-white hover:bg-red-500 rounded">
          Cancel
        </a>
      </div>
    </form>
    <p class="mt-8">
      {% if model.newTimeSlots.length == 0 %}
        No time slots will be created.
      {% else %}
        {{ model.newTimeSlots.length }}
        time slot{{ 's' if model.newTimeSlots.length != 1 }}
        will be created:
      {% endif %}
    </p>
    {% for timeSlot in model.newTimeSlots %}
      <div class="mt-4 p-2 border bg-amber-50 box-shadow-lg rounded">
        <div>
          <b>{{ timeSlot.shiftContext.name }}</b>
        </div>
        <div>{{ timeSlot.startDateTime.toLocaleDateString() }}</div>
        <div>
          {{ timeSlot.startDateTime.toLocaleTimeString() }}
          to
          {{ timeSlot.endDateTime.toLocaleTimeString() }}
        </div>
        <div>
          {{ timeSlot.teamMember.fullName if timeSlot.teamMember else "(unassigned)" }}
        </div>
      </div>
    {% endfor %}
    {% if model.includeShiftContextNotes.length > 0 %}
      <p class="mt-8">The following shift context notes will be created:</p>
      {% for shiftContextNote in model.newShiftContextNotes %}
        <div class="border">
          <div>{{ shiftContextNote.date }}</div>
          <div>{{ shiftContextNote.note }}</div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
  </div>
</div>

{% endblock %}
