{% extends "../_shared/_layout.html" %}
{% from "../_shared/field.html" import field %}

{% set title = "Copy Time Slots" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <h1>{{ title }}</h1>
  <form method="post">
    <fieldset>
      <legend>Copy from</legend>
      {{ field("fromStartDate", model.fromStartDateString, "date", "Start date") }}
      {{ field("fromEndDate", model.fromEndDateString, "date", "End date") }}
    </fieldset>
    <fieldset>
      <legend>Copy to</legend>
      {{ field("toStartDate", model.toStartDateString, "date", "Start date") }}
      {{ field("toEndDate", model.toEndDateString, "date", "End date") }}
    </fieldset>
    <fieldset>
      <legend>Copy options</legend>
      {{ field("repeatCopy", "", "checkbox", "Repeat copy", model.repeatCopy) }}
      {{ field("includeAssignees", "", "checkbox", "Include assignees", model.includeAssignees) }}
      {{ field("includeShiftContextNotes", "", "checkbox", "Include shift context notes", model.includeShiftContextNotes) }}
      {{ field("includeTimeSlotNotes", "", "checkbox", "Include time slot notes", model.includeTimeSlotNotes) }}
    </fieldset>
    <div>
      {{ csrf(model) }}
      <input type="submit" value="Preview" />
      <a href="{{ model.cancelLink }}">Cancel</a>
    </div>
  </form>
{% endblock %}
