{% extends "../_shared/_layout.html" %}
{% from "../_shared/formErrors.html" import formErrors %}
{% from "../_shared/field.html" import field %}

{% if model.isEdit %}
  {% set title = 'Edit Time Slot' %}
  {% set action = ['/schedule/time-slot/', model.timeSlot.id, '/'] | join %}
{% else %}
  {% set title = 'Add Time Slot' %}
  {% set action = '/schedule/time-slot/add/' %}
{% endif %}

{% block title %}{{ title }}{% endblock %}

{% block scripts %}
<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    const form = document.querySelector("form");
    const slot = document.querySelector("#recommendations");
    const ignoreFields = ["teamMemberId", "note", "colorId", "newColorHex", "newColorName"];

    form.addEventListener("input", async (event) => {
      // Do not fetch recommendations again if the changed field would not affect recommendations
      if (ignoreFields.includes(event.target.name)) return;

      try {
        const response = await fetch("/schedule/time-slot/recommendations/", {
          method: "POST",
          body: new FormData(form)
        });
        slot.innerHTML = await response.text();
      } catch (e) {
        console.log(e);
      }
    });
  });
</script>
{% endblock %}

{% block content %}
  <h1 class="text-4xl mt-8 font-bold">{{ title }}</h1>
  <form action="{{ action }}" method="post" class="mt-4">
    {{ formErrors(model.errors) }}
    <h2 class="mt-4 text-2xl font-bold">Basic</h2>
    <div class="max-w-lg">
      <div class="mt-8 flex gap-4">
        <label for="shiftContextId" class="flex-1">
          Shift Context
        </label>
        <select name="shiftContextId" id="shiftContextId" class="flex-1 p-1 border rounded">
          <option value="">Select a shift context...</option>
          {% for shiftContext in model.shiftContexts %}
            <option value="{{ shiftContext.id }}" {{ "selected" if shiftContext.id == model.timeSlot.shiftContextId }} >
              {{ shiftContext.name }}
            </option>
          {% endfor %}
        </select>
      </div>
      {{ field("date", model.timeSlot.startDateString, "date", "Date") }}
      {{ field("startTime", model.timeSlot.startTimeString, "time", "Start time") }}
      {{ field("endTime", model.timeSlot.endTimeString, "time", "End time") }}
      {{ field("requiresAdult", "", "checkbox", "Requires adult", model.timeSlot.requiresAdult) }}
    </div>
    <div class="mt-8">
      <h2 class="text-2xl font-bold">Assignee</h2>
      <div id="recommendations" class="mt-4">
        {% include "./assigneeRecommendations.html" %}
      </div>
    </div>
    <div class="max-w-lg">
      <h2 class="mt-4 text-2xl font-bold">Note</h2>
      {{ field("note", model.timeSlot.note, "note", "Note") }}
      <div class="mt-4 flex">
        <label class="flex-1">Note color</label>
        <div class="flex-1">
          <div>
            <input type="radio" name="colorId" value="" id="colorId_none" {{ "checked" if not model.timeSlot.colorId }} />
            <label for="colorId_none">(none)</label>
          </div>
          {% for color in model.colors %}
            <div>
              <input type="radio" name="colorId" id="colorId_{{ color.id }}" value="{{ color.id }}" {{ "checked" if color.id == model.timeSlot.colorId }} />
              <label for="colorId_{{ color.id }}">
                <span class="inline-block size-4 rounded" style="background-color: #{{ color.hex }};"></span>
                {{ color.name }}
              </label>
            </div>
          {% endfor %}
          <div>
            <input type="radio" name="colorId" value="0" id="colorId_new" {{ "checked" if model.timeSlot.colorId == 0 }} />
            <label for="colorId_new">
              <input type="color" name="newColorHex" value="{{ '#' if model.newColor.hex }}{{ model.newColor.hex }}" class="size-4 rounded" />
              <input type="text" name="newColorName" value="{{ model.newColor.name }}" placeholder="new..." />
            </label>
          </div>
        </div>
      </div>
      <div class="mt-8 flex gap-4 justify-center">
        <input type="hidden" name="timeSlotId" value="{{ model.timeSlot.id }}" />
        <input type="hidden" name="cancelLink" value="{{ model.cancel }}" />
        {{ csrf(model) }}
        <input type="submit" value="Save" class="block p-2 bg-green-300 rounded" />
        <a href="{{ model.cancel }}" class="block p-2 bg-gray-300 rounded">Cancel</a>
      </div>
    </div>
  </form>
{% endblock %}
